<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forgot Password</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    </head>
    <body style="padding:0; margin:0; background:#e4e4e4,font-family:'Oooh Baby', cursive;">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top" id="templateBody" style="background-color: #e4e4e4; background-image: none; border-top: 0;	border-bottom: 0;	padding-top: 30px;	padding-bottom: 0;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" class="templateContainer">
                                        <tr>
                                            <td valign="top" class="bodyContainer">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="background-color: #ffffff;border-top: 0;	border-bottom: 0;	padding-top:0px;	padding-bottom: 0;">
                                                    <tbody class="mcnImageBlockOuter">
                                                        <tr>
                                                            <td valign="top" style="padding:15px 0 15px; border-bottom: 1px solid #ededed;" class="mcnImageBlockInner" >
                                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                             <td class="mcnImageContent" valign="middle" height="100" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                                                                <a href="#" title="" class="" target="_blank">
                                                                                <img  alt="alista logo" src="<%= logo %>"  width="100px" height="100px" title="image" >
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%; background: #fff;">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" class="mcnTextContent" style="padding-top:8px; padding-right: 28px;  padding-left:28px;">
                                                                                <p style="text-align: left; color: #808080; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#333333">
                                                                                    <span style="font-size:16px; font-weight: bold; line-height: 24px;">
                                                                                    Hi, <%= name %>
                                                                                    </span></span>
                                                                                </p>
                                                                                <p style="text-align: left; color: #808080; font-family: Arial ,sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#333333">
                                                                                    <span style="font-size:14px">
                                                                                    Your one time password is <b><%= OTP %></b> ,please don't share this to any one.</p>
                                                                                    </span></span>
                                                                                </p>
                                                                            </td>
                                                                        </tr>
																		<tr>
                                                                            <td valign="top" class="mcnTextContent" style="padding-top:0px; padding-right: 28px; padding-bottom:20px; padding-left:28px;">
                                                                                <p style="text-align: center; color: #808080;  font-family: Arial ,sans-serif; font-size: 14px; line-height: 150%;"><span style="color:black">
                                                                                    <span style="font-size:35px; font-weight: bold; line-height:45px; letter-spacing: 5px;">
																						<%= OTP %>
                                                                                    </span></span>
                                                                                </p>
                                                                                <p style="text-align: left; color: #808080; font-family: Arial ,sans-serif; font-size: 14px; line-height: 150%;"><span style="color:black">
                                                                                    <span style="font-size:14px">
                                                                                    This OTP can be used to change the password.If you have not request this then please ignore this email or contact us.
                                                                                    </span></span>
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top" class="mcnTextContent" style="padding-top:0px; padding-right: 28px; padding-bottom:20px; padding-left:28px;">
                                                                                <p style=" color: #808080;  font-family: Arial ,sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#333333">
                                                                                    
																						We are more than happy to hear from you & receive your inquiries & suggestions, so please do not hesitate to reach us at <a href="wecare@skillroots.com">wecare@skillroots.com</a>
                                                                                    </span>
                                                                                </p>
                                                                                <p style="text-align: left; color: #808080; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#333333">
                                                                                    <span style="font-size:16px; font-weight: bold; line-height: 24px;">
                                                                                    Have a lovely day!
                                                                                    </span></span>
                                                                                </p>
																				<p style="text-align: left; color: #808080; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#333333">
                                                                                    <span style="font-size:16px; font-weight: bold; line-height: 24px;">
                                                                                    Alista Team
                                                                                    </span></span>
                                                                                </p>
        <div style="width: max-content; display:flex; margin:auto; align-items: center;">
        	<div style="margin-right: 10px">
        	<a href="#">
        		<img alt="alista logo" src="<%= googleplay_logo %>" width="150px" height="50px" title="image">
        	</a>
        </div>
        	<div style="margin-left: 10px">
        		<a href="#">
        		<img alt="alista logo" src="<%= appstore_logo %>" width="150px" height="50px" title="image">
        	</a>
        	</div>
        </div>

                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="templateFooter" style="background-color: #e4e4e4; border-top: 0; border-bottom: 0; padding-top: 0;	padding-bottom: 36px;">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" class="templateContainer">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding:15px; background-color: white; border-top: 1px solid #ededed; border-bottom: 0; padding-top: 0px; padding-bottom: 20px;">
                                                <table border="0" cellpadding="5" cellspacing="0" width="100%">
                                                    <!-- <tr>
                                                        <td width="100%" align="center">
                                                            <img src=<%= logo %> alt="" width="110">
                                                        </td>
                                                    </tr> -->
                                                    <tr>
                                                        <td width="100%" align="center">
														<p><a href="">Call us</a><span style="margin-left:20px;margin-right:20px;color:#549BA5;">|</span><a href="">Email us</a></p>
														<p style="text-align: left; color: #808080; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#B2BCC4">
                                                                <span style="font-size:16px; ; line-height: 24px;">
                                                                    Sent with ♡ from Alista Team
                                                                </span></span>
                                                            </p>
															<p style="text-align: left; color: #808080; font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 150%;"><span style="color:#B2BCC4">
                                                                <span style="font-size:16px; ; line-height: 24px;">
                                                                    All rights reserved. Copyright &copy; 2021 SkillRoots LTD Company
                                                                </span></span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>